<nav class="navbar navbar-expand-sm fixed-top nav">
  <h1 class="navbar-text">Hero Manager</h1>
  <li class="navbar-nav ml-auto">
    <a type="button" class="nav-link" href="/register">Register</a>
  </li>
</nav>
<main class="my-form loginPage">
  <div class="row justify-content-center">
    <div class="card">
      <h1 class="card-header text-center">Login</h1>
      <form name="my-form">
        <div class="form-group col-sm-10">
          <input class="form-control" placeholder="Username" [(ngModel)]="usernameInput" name="username">
        </div>
        <div class="form-group col-sm-10">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="passwordInput" name="password">
        </div>
        <div class="form-group buttons col-sm-10">
          <a class="nav-link" (click)="navigateRegister()">Registration</a>
          <button (click)="sendLogin()" class="btn btn-primary">Login</button>
        </div>
        <div class="form-group col-sm-10 bottomMessage" role="alert">
          <p class="alert-heading">{{loginMessage}}</p>
        </div>
      </form>
    </div>
  </div>
</main>