.imageAndName > .heroName {
  text-align: center;
}

.details, .Activity > p {
  font-size: 3vh;
}

p{
  margin-bottom: 0px;
}

.br{
  margin-bottom: 3vh;
}

.btn-group {
  height: 5vh;
  display: flex;
  flex-direction: row;
}

.btn-group > * {
  font-size: 2vh;
  color: black;
  border-color: black;
  border-radius: 0px;
}

.Container {
  margin: 3vh;
}

.heroName {
  margin-top: 3vh;
  font-size: 4vh;
}

.img-desktop {
  width: 100%;
}

.Activity{
  align-items: center;
  font-size: 3vw;
}

.progress {
  margin-top: 10px;
}