.Container{
  height: 85vh;
}

.dungeonName{
  text-align: center;
  padding: 1vh;
}

.eventsHeader{
  padding: 1vh 0;
}

.row {
  margin: 1%;
  height: 98%;
}

.img-desktop {
  width: 100%;
}

@media only screen and (max-width: 577px) {
  .Container {
    display: flex;
    height: 88vh;
    margin: 0px;
  }

  .row{
    width: 98%;
  }
}