<div *ngIf="dungeon" class="Container">
  <div class="row">
    <img class="d-block d-sm-none d-md-none img-responsive mx-auto w-25 " src={{dungeon.image}} />
    <div class=" col-sm-3 dungeonInfo">
      <img class="d-none d-sm-block img-fluid img-desktop" src={{dungeon.image}} />
      <h2 class="dungeonName">{{dungeon.name}}</h2>
    </div>
    <div class="col-sm-3 order-sm-12">
      <app-hero-action [hero]="_hero" [dungeon]="_dungeon" (_data)="onProgress($event)"></app-hero-action>
      <h3 class="eventsHeader">Events:</h3>
      <app-event-list [events]="_events"></app-event-list>
    </div>
    <app-enemy-list class="col-sm-3" [dungeon]="_dungeon" (_valueChange)="showSelectedItem($event)">
    </app-enemy-list>
    <app-enemy-detail class="col-sm-3" [obstacle]="_selectedObstacle"></app-enemy-detail>
  </div>
</div>