.row, .card-title {
  margin: 2% auto;
  font-size: 1.2rem;
}

.card-footer {
  padding: 0%;
  text-align: center;
}

.card {
  margin: 1.5%;
  padding: 0%;
}

.card-img-top-plus {
  width: 100%;
  height: 15vw;
  object-fit: contain;
}

.finalWords{
  font-size: 1rem;
  font-style: italic;
}