<div class="card" *ngIf="hero">
  <div class="card">
    <img *ngIf="hero.finalWords" src="{{hero.smallImage}}" class="card-img-top greyImage">
    <img *ngIf="!hero.finalWords" src="{{hero.smallImage}}" class="card-img-top">
    <img src="{{this.currentLabel}}" class="card-img-overlay" data-toggle="tooltip" data-placement="top" title="{{this.currentLabelInfo}}">
  </div>
  <div class="progress">
    <div [class]="this.progressClass" role="progressbar" [style.width]="hero.healthActPercentage + '%'"
      aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="card-footer">
    <p class="card-title">{{hero.name}}</p>
    <p *ngIf="hero.finalWords" class="card-title finalWords">"{{hero.finalWords}}"</p>
  </div>
</div>