/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Almendra', serif;
  padding-top: 4.5rem;
}

.nav {
  height: 4.5rem;
  align-content: center;
}

@media only screen and (max-width: 577px) {
  body {
    padding-top: 3.5rem;
  }
  .nav {
    height: 3.5rem;
  }
}